{{ attach_library('sdc_styleguide/plugin.layout-switcher') }}
<div class="sdc-styleguide-plugin sdc-styleguide-plugin--layout-switcher">
  <div class="layout-switcher">
    <button class="layout-switcher__trigger">{{ 'Switch layout' }}</button>
  </div>
</div>
