<div class="sdc-styleguide-explorer__group">
  <h2 class="sdc-styleguide-explorer__group-title"><button type="button">{{ title }}</button></h2>
  <div class="sdc-styleguide-explorer__group-components">
    {{- components -}}
  </div>
</div>

