<div class="sdc-styleguide-viewer">
  <iframe class="sdc-styleguide-viewer__iframe" src="{{ url }}">
    {{ 'You should use a browser that supports iframes to use this feature.'|t }}
  </iframe>
</div>
