.card {
  &:not(.card--horizontal) {
    .card-img-top {
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }

  &.card--horizontal {
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    .card-image-container {
      width: 30%;
      height: 100%;
    }

    .card-img-top {
      position: absolute;
      left: 0;
      top: 0;
      width: 30%;
      height: 100%;
      border-top-right-radius: 0;
      border-bottom-left-radius: calc(0.25rem - 1px);
      object-fit: cover;
    }

    .field--name-field-media-image {
      width: 100%;
      height: 100%;
    }
  }
}

.card-body {
  color: var(--bs-secondary);
  min-width: 55%;
}

a.card:hover {
  text-decoration: none;
}

.card-link {
  display: block;
  margin-top: 1em;
  color: var(--bs-primary);
}

.swiper-slide.block-card {
  width: 440px;
}
