.sdc-styleguide-welcome {
  text-align: center;
}

.sdc-styleguide-welcome__title {
  margin: 0 0 2rem;
}

.sdc-styleguide-welcome__logo-wrapper {
  text-align: center;
}

.sdc-styleguide-welcome__logo-wrapper img {
  display: inline-block;
}
