.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 0;
  margin: 0;
  position: relative;
  padding: 3em 2em;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero--fullscreen {
  min-height: calc(100vh - 101px);
}

.hero__bg,
.hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__bg {
  z-index: 0;
  overflow: hidden;
  img {
    width: 100%; /* or max-width: 100%; */
    height: auto;
  }
}

.hero__bg img,
.hero__bg video {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.hero__bg.bg-top img,
.hero__bg.bg-top video {
  top: 0;
  transform: none;
}

.hero__bg.bg-bottom img,
.hero__bg.bg-bottom video {
  top: unset;
  bottom: 0;
  transform: none;
}

.hero__overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero__content-container {
  position: relative;
  z-index: 2;
}

.hero__title {
  color: white;
}
.hero__subtitle {
  font-size: large;
}

.hero__intro {
  margin-bottom: 1em;
}

.hero__content {
}

.hero__actions {
  margin-top: 1em;
}

.hero__scrolldown {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
}

.hero__scrolldown .icon {
  font-size: 10px;
}

.hero__bg img.parallax__image {
  transform: translateY(calc(var(--image-offset-percentage) * -1));
  top: var(--image-offset-percentage);
  --image-offset-percentage: 0%;
}
